{% extends '../theme.html' %}
{% block content %}
<div class="row my-4">
    <h1>Attendance Sheet</h1>
    <div class="col-12 col-md-6">
        <div class="card">
            <div class="card-body">
                <form action="" method="get">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="usr">Select Batch:</label>
                        <select name="batch" class="form-control" onchange="showCustomer(this.value)">
                            <option value="">Select a Batch</option>
                            <option value="09">09.00 to 10.30</option>
                            <option value="1030">10.30 to 12.00</option>
                            <option value="12">12.00 to 01.30</option>
                            <option value="02">02.00 to 03.30</option>
                            <option value="330">03.30 to 05.00</option>
                            <option value="saturday">Saturday</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row my-1">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Student Datails</h5>
                </div>
                <div class="card-body">
                    <!-- <div class="form-group">
                            <label for="usr">Date:</label>
                            <input type="date" name="date" class="form-control">
                        </div> -->
                    <form action="" method="post" id="form1">
                        {% csrf_token %}
                        <div id="txtHint"></div>
                        <button type="submit" class="btn btn-success">Save Data</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showCustomer(str) {
            if (str == "") {
                document.getElementById("txtHint").innerHTML = "";
                return;
            }
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                document.getElementById("txtHint").innerHTML = this.responseText;
            }
            xhttp.open("GET", "/attendence/getdata?batch=" + str);
            xhttp.send();
        }

    </script>
    {% endblock %}